In [83]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [84]:
stock_symbol = "MSFT"
epoch_count = 10
data = pd.read_csv('csv/' + str(stock_symbol) + '.timeseries.csv', date_parser = True)
data.tail()

            date      open      high       low     close      volume  adjclose
8514  1986-03-19  0.099826  0.100694  0.097222  0.098090    47894400  0.063107
8515  1986-03-18  0.102431  0.103299  0.098958  0.099826    67766400  0.064224
8516  1986-03-17  0.100694  0.103299  0.100694  0.102431   133171200  0.065899
8517  1986-03-14  0.097222  0.102431  0.097222  0.100694   308160000  0.064783
8518  1986-03-13  0.088542  0.101562  0.088542  0.097222  1031788800  0.062549

In [85]:
data_training = data[data['date'] < '2019-01-01'].sort_values(by='date', ascending=True).copy()
data_training

,date,open,high,low,close,volume,adjclose
8518,1986-03-13,0.088542,0.101562,0.088542,0.097222,1031788800,0.062549
8517,1986-03-14,0.097222,0.102431,0.097222,0.100694,308160000,0.064783
8516,1986-03-17,0.100694,0.103299,0.100694,0.102431,133171200,0.065899
8515,1986-03-18,0.102431,0.103299,0.098958,0.099826,67766400,0.064224
8514,1986-03-19,0.099826,0.100694,0.097222,0.098090,47894400,0.063107
...,...,...,...,...,...,...,...
254,2018-12-24,97.680000,97.970001,93.980003,94.129997,43935200,92.758461
253,2018-12-26,95.139999,100.690002,93.959999,100.559998,51634800,99.094772
252,2018-12-27,99.300003,101.190002,96.400002,101.180000,49498500,99.705742
251,2018-12-28,102.089996,102.410004,99.519997,100.389999,38196300,98.927246
250,2018-12-31,101.290001,102.400002,100.440002,101.570000,33173800,100.090057

In [86]:
data_test = data[data['date'] >= '2019-01-01'].sort_values(by='date', ascending=True).copy()
data_test

,date,open,high,low,close,volume,adjclose
249,2019-01-02,99.550003,101.750000,98.940002,101.120003,35329300,99.646614
248,2019-01-03,100.099998,100.190002,97.199997,97.400002,42579100,95.980820
247,2019-01-04,99.720001,102.510002,98.930000,101.930000,44060600,100.444817
246,2019-01-07,101.639999,103.269997,100.980003,102.059998,35656100,100.572922
245,2019-01-08,103.040001,103.970001,101.709999,102.800003,31514400,101.302139
...,...,...,...,...,...,...,...
4,2019-12-20,157.350006,158.490005,156.289993,157.410004,53477500,157.410004
3,2019-12-23,158.119995,158.119995,157.270004,157.410004,17718200,157.410004
2,2019-12-24,157.479996,157.710007,157.119995,157.380005,8989200,157.380005
1,2019-12-26,157.559998,158.729996,157.399994,158.669998,14520600,158.669998
0,2019-12-27,159.449997,159.550003,158.220001,158.960007,18412800,158.960007

In [87]:
training_data = data_training.drop(['date', 'adjclose'], axis = 1)
training_data.head()

          open      high       low     close      volume
8518  0.088542  0.101562  0.088542  0.097222  1031788800
8517  0.097222  0.102431  0.097222  0.100694   308160000
8516  0.100694  0.103299  0.100694  0.102431   133171200
8515  0.102431  0.103299  0.098958  0.099826    67766400
8514  0.099826  0.100694  0.097222  0.098090    47894400

In [88]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[0.00000000e+00, 8.22532308e-05, 0.00000000e+00, 6.01148236e-05,
        1.00000000e+00],
       [7.52661933e-05, 8.97307681e-05, 7.55873340e-05, 9.01722353e-05,
        2.97096179e-01],
       [1.05372671e-04, 9.72083695e-05, 1.05822268e-04, 1.05200877e-04,
        1.27119118e-01],
       ...,
       [8.60228982e-01, 8.70873823e-01, 8.38647131e-01, 8.75086263e-01,
        4.58428332e-02],
       [8.84420069e-01, 8.81383104e-01, 8.65814978e-01, 8.68247596e-01,
        3.48643321e-02],
       [8.77483579e-01, 8.81296944e-01, 8.73826073e-01, 8.78462304e-01,
        2.99856783e-02]])

In [89]:
x_train = []
y_train = []

In [90]:
training_data.shape[0]

8269

In [91]:
for i in range(60, training_data.shape[0]):
    x_train.append(training_data[i-60:i])
    y_train.append(training_data[i, 0])

In [92]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [93]:
x_train.shape, y_train.shape

((8209, 60, 5), (8209,))

In [94]:
### Building LSTM

In [95]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [96]:
regressior = Sequential()

regressior.add(LSTM(units = 60, activation = 'relu', return_sequences = True, input_shape = (x_train.shape[1], 5)))
regressior.add(Dropout(0.2))
               
regressior.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 100, activation = 'relu', return_sequences = True))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 120, activation = 'relu'))
regressior.add(Dropout(0.2))

regressior.add(Dense(units = 1))

In [97]:
regressior.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
unified_lstm_15 (UnifiedLSTM (None, 60, 60)            15840
_________________________________________________________________
dropout_15 (Dropout)         (None, 60, 60)            0
_________________________________________________________________
unified_lstm_16 (UnifiedLSTM (None, 60, 60)            29040
_________________________________________________________________
dropout_16 (Dropout)         (None, 60, 60)            0
_________________________________________________________________
unified_lstm_17 (UnifiedLSTM (None, 60, 80)            45120
_________________________________________________________________
dropout_17 (Dropout)         (None, 60, 80)            0
_________________________________________________________________
unified_lstm_18 (UnifiedLSTM (None, 60, 100)           72400
_________________________________________________________________
dropout_18 (Dropout)         (None, 60, 100)           0
_________________________________________________________________
unified_lstm_19 (UnifiedLSTM (None, 120)               106080
_________________________________________________________________
dropout_19 (Dropout)         (None, 120)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 121
=================================================================
Total params: 268,601
Trainable params: 268,601
Non-trainable params: 0
_________________________________________________________________

In [98]:
regressior.compile(optimizer='sgd', metrics=['mae', 'acc', 'mae'], loss = 'mean_squared_error')

In [ ]:
regressior.fit(x_train, y_train, epochs=epoch_count, batch_size=32)

Epoch 1/10
8209/8209 [==============================] - 137s 17ms/sample - loss: 0.0569 - mae: 0.1769 - acc: 0.0000e+00
Epoch 2/10
8209/8209 [==============================] - 131s 16ms/sample - loss: 0.0391 - mae: 0.1464 - acc: 0.0000e+00
Epoch 3/10
8209/8209 [==============================] - 141s 17ms/sample - loss: 0.0368 - mae: 0.1390 - acc: 0.0000e+00
Epoch 4/10
8209/8209 [==============================] - 138s 17ms/sample - loss: 0.0362 - mae: 0.1369 - acc: 0.0000e+00
Epoch 5/10
8209/8209 [==============================] - 140s 17ms/sample - loss: 0.0359 - mae: 0.1361 - acc: 0.0000e+00
Epoch 6/10
8209/8209 [==============================] - 140s 17ms/sample - loss: 0.0357 - mae: 0.1355 - acc: 0.0000e+00
Epoch 7/10
8209/8209 [==============================] - 136s 17ms/sample - loss: 0.0356 - mae: 0.1354 - acc: 0.0000e+00
Epoch 8/10
8209/8209 [==============================] - 141s 17ms/sample - loss: 0.0354 - mae: 0.1349 - acc: 0.0000e+00
Epoch 9/10
8209/8209 [==============================] - 141s 17ms/sample - loss: 0.0352 - mae: 0.1345 - acc: 0.0000e+00
Epoch 10/10
4768/8209 [================>.............] - ETA: 58s - loss: 0.0346 - mae: 0.1337 - acc: 0.0000e+00

In [ ]:
### Prepare test dataset

In [ ]:
data_test.tail()

In [ ]:
data_training.tail(60)

In [ ]:
past_60_days = data_training.tail(60)

In [ ]:
df = past_60_days.append(data_test, ignore_index = True)
df = df.drop(['date', 'adjclose'], axis = 1)
df.head()

In [ ]:
inputs = scaler.transform(df)
inputs

In [ ]:
x_test = []
y_test = []

for i in range(60, inputs.shape[0]):
    x_test.append(inputs[i-60:i])
    y_test.append(inputs[i, 0])

In [ ]:
x_test, y_test = np.array(x_test),np.array(y_test)
x_test.shape, y_test.shape

In [ ]:
y_pred = regressior.predict(x_test)

In [ ]:
my_scale = scaler.scale_
my_scale[0]

In [ ]:
scale = 1/my_scale[0]
scale

In [ ]:
y_pred = y_pred*scale
y_test = y_test*scale

In [ ]:
### Visualize Data

In [ ]:
plt.figure(figsize=(20,5))
plt.plot(y_test, color = 'red', label = 'Real ' + stock_symbol + ' stock price')
plt.plot(y_pred, color = 'blue', label = 'Predicted ' + stock_symbol + ' stock price')
plt.title(stock_symbol + ' Prediction Chart 2019')
plt.grid(color='y', linestyle='-', linewidth=1)
plt.xlabel('Time')
plt.ylabel(stock_symbol + ' stock price')
plt.legend()
plt.show()