In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
stock_symbol = "TSLA"
data = pd.read_csv('csv/' + str(stock_symbol) + '.timeseries.csv', date_parser = True)
data.tail()

            date       open   high        low      close    volume   adjclose
2387  2010-07-06  20.000000  20.00  15.830000  16.110001   6866900  16.110001
2388  2010-07-02  23.000000  23.10  18.709999  19.200001   5139800  19.200001
2389  2010-07-01  25.000000  25.92  20.270000  21.959999   8218800  21.959999
2390  2010-06-30  25.790001  30.42  23.299999  23.830000  17187100  23.830000
2391  2010-06-29  19.000000  25.00  17.540001  23.889999  18766300  23.889999

In [3]:
data_training = data[data['date'] < '2019-01-01'].sort_values(by='date', ascending=True).copy()
data_training

,date,open,high,low,close,volume,adjclose
2391,2010-06-29,19.000000,25.000000,17.540001,23.889999,18766300,23.889999
2390,2010-06-30,25.790001,30.420000,23.299999,23.830000,17187100,23.830000
2389,2010-07-01,25.000000,25.920000,20.270000,21.959999,8218800,21.959999
2388,2010-07-02,23.000000,23.100000,18.709999,19.200001,5139800,19.200001
2387,2010-07-06,20.000000,20.000000,15.830000,16.110001,6866900,16.110001
...,...,...,...,...,...,...,...
254,2018-12-24,313.500000,314.500000,295.200012,295.390015,5559900,295.390015
253,2018-12-26,300.000000,326.970001,294.089996,326.089996,8163100,326.089996
252,2018-12-27,319.839996,322.170013,301.500000,316.130005,8575100,316.130005
251,2018-12-28,323.100006,336.239990,318.410004,333.869995,9939000,333.869995
250,2018-12-31,337.790009,339.209991,325.260010,332.799988,6302300,332.799988

In [4]:
data_test = data[data['date'] >= '2019-01-01'].sort_values(by='date', ascending=True).copy()
data_test

,date,open,high,low,close,volume,adjclose
249,2019-01-02,306.100006,315.130005,298.799988,310.119995,11658600,310.119995
248,2019-01-03,307.000000,309.399994,297.380005,300.359985,6965200,300.359985
247,2019-01-04,306.000000,318.000000,302.730011,317.690002,7394100,317.690002
246,2019-01-07,321.720001,336.739990,317.750000,334.959991,7551200,334.959991
245,2019-01-08,341.959991,344.010010,327.019989,335.350006,7008500,335.350006
...,...,...,...,...,...,...,...
4,2019-12-20,410.290009,413.000000,400.190002,405.589996,14752700,405.589996
3,2019-12-23,411.779999,422.010010,410.000000,419.220001,13319600,419.220001
2,2019-12-24,418.359985,425.470001,412.690002,425.250000,8054700,425.250000
1,2019-12-26,427.910004,433.480011,426.350006,430.940002,10633900,430.940002
0,2019-12-27,435.000000,435.309998,426.109985,430.380005,9945700,430.380005

In [5]:
training_data = data_training.drop(['date', 'adjclose'], axis = 1)
training_data.head()

           open   high        low      close    volume
2391  19.000000  25.00  17.540001  23.889999  18766300
2390  25.790001  30.42  23.299999  23.830000  17187100
2389  25.000000  25.92  20.270000  21.959999   8218800
2388  23.000000  23.10  18.709999  19.200001   5139800
2387  20.000000  20.00  15.830000  16.110001   6866900

In [6]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[0.00771826, 0.02244088, 0.00702583, 0.02191224, 0.50337694],
       [0.02604237, 0.0369725 , 0.02283393, 0.02174973, 0.46074816],
       [0.0239104 , 0.02490751, 0.01451821, 0.01668472, 0.21865873],
       ...,
       [0.81959248, 0.81918608, 0.78634354, 0.81346155, 0.22827666],
       [0.82839024, 0.85690923, 0.83275242, 0.86151136, 0.26509364],
       [0.86803402, 0.86487212, 0.85155201, 0.85861318, 0.16692491]])

In [7]:
x_train = []
y_train = []

In [8]:
training_data.shape[0]

2142

In [9]:
for i in range(60, training_data.shape[0]):
    x_train.append(training_data[i-60:i])
    y_train.append(training_data[i, 0])

In [10]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [11]:
x_train.shape, y_train.shape

((2082, 60, 5), (2082,))

In [12]:
### Building LSTM

In [13]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\reggl\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
regressior = Sequential()

regressior.add(LSTM(units = 60, activation = 'relu', return_sequences = True, input_shape = (x_train.shape[1], 5)))
regressior.add(Dropout(0.2))
               
regressior.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 120, activation = 'relu'))
regressior.add(Dropout(0.2))

regressior.add(Dense(units = 1))

In [15]:
regressior.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
unified_lstm (UnifiedLSTM)   (None, 60, 60)            15840
_________________________________________________________________
dropout (Dropout)            (None, 60, 60)            0
_________________________________________________________________
unified_lstm_1 (UnifiedLSTM) (None, 60, 60)            29040
_________________________________________________________________
dropout_1 (Dropout)          (None, 60, 60)            0
_________________________________________________________________
unified_lstm_2 (UnifiedLSTM) (None, 60, 80)            45120
_________________________________________________________________
dropout_2 (Dropout)          (None, 60, 80)            0
_________________________________________________________________
unified_lstm_3 (UnifiedLSTM) (None, 120)               96480
_________________________________________________________________
dropout_3 (Dropout)          (None, 120)               0
_________________________________________________________________
dense (Dense)                (None, 1)                 121
=================================================================
Total params: 186,601
Trainable params: 186,601
Non-trainable params: 0
_________________________________________________________________

In [16]:
regressior.compile(optimizer='sgd', metrics=['mae', 'acc'], loss = 'mean_squared_error')

In [ ]:
regressior.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
2082/2082 [==============================] - 32s 16ms/sample - loss: 0.2517 - mae: 0.4030 - acc: 0.0000e+00
Epoch 2/10
2082/2082 [==============================] - 30s 14ms/sample - loss: 0.1967 - mae: 0.3676 - acc: 0.0000e+00
Epoch 3/10
2082/2082 [==============================] - 32s 15ms/sample - loss: 0.1606 - mae: 0.3444 - acc: 0.0000e+00
Epoch 4/10
1824/2082 [=========================>....] - ETA: 3s - loss: 0.1358 - mae: 0.3243 - acc: 0.0000e+00

In [ ]:
### Prepare test dataset

In [ ]:
data_test.tail()

In [ ]:
data_training.tail(60)

In [ ]:
past_60_days = data_training.tail(60)

In [ ]:
df = past_60_days.append(data_test, ignore_index = True)
df = df.drop(['date', 'adjclose'], axis = 1)
df.head()

In [ ]:
inputs = scaler.transform(df)
inputs

In [ ]:
x_test = []
y_test = []

for i in range(60, inputs.shape[0]):
    x_test.append(inputs[i-60:i])
    y_test.append(inputs[i, 0])

In [ ]:
x_test, y_test = np.array(x_test),np.array(y_test)
x_test.shape, y_test.shape

In [ ]:
y_pred = regressior.predict(x_test)

In [ ]:
scaler.scale_

In [ ]:
scale = 1/8.67066133e-03
scale

In [ ]:
y_pred = y_pred*scale
y_test = y_test*scale

In [ ]:
### Visualize Data

In [ ]:
plt.figure(figsize=(20,5))
plt.plot(y_test, color = 'red', label = 'Real MSFT stock price')
plt.plot(y_pred, color = 'blue', label = 'Predicted MSFT stock price')
plt.title('MSFT Prediction Chart 2019')
plt.grid(color='y', linestyle='-', linewidth=1)
plt.xlabel('Time')
plt.ylabel('MSFT stock price')
plt.legend()
plt.show()